@model EmployeeManagement.ViewModel.HomeDetailsViewModel


<h3>@Model.PageTitle</h3>



<div>

    Name: @Model.Employee.Name

</div>

<div>

    Email: @Model.Employee.Email

</div>

<div>

    Dep: @Model.Employee.Department

</div>